body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: "Helvetica Neue", sans-serif;
}
.content img {
    width: 100%;
    display: block;
}
#menu {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    animation: fadeInUp 0.5s forwards;
}
.modal-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    overflow-y: auto;
    animation: slideUp 0.5s forwards;
}
.modal-header {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}
.close,
.share {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.view-pass-btn {
    position: fixed;
    width: 100%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.modal-img {
    width: 100vw;
    display: block;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideUp {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0;
    }
}
@keyframes fadeOutDown {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes slideDown {
    from {
        bottom: 0;
    }
    to {
        bottom: -100%;
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.secondary-modal-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    animation: slideUp 0.5s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.secondary-modal-header {
    position: fixed;
    top: 10px;
    right: 20px;
    display: flex;
    gap: 10px;
}
.secondary-modal-img {
    width: auto;
    height: auto;
    max-height: 70vh;
    display: block;
    margin: 0 auto;
}
.logo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    z-index: 2;
    width: 100px;
    height: 100px;
}
.rotating-border {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 150px;
    height: 150px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}
.product-img {
    z-index: 3;
    width: auto;
    height: 50vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
